# --- macOS (Essencial) ---
.DS_Store
.AppleDouble
.LSOverride

# --- Xcode & Build ---
build/
DerivedData/
*.derivedData
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# --- Swift Package Manager & Playgrounds ---
.build/

# Ignorar configurações de usuário do Xcode dentro do pacote
.swiftpm/xcode/
.swiftpm/playgrounds/xcuserdata/

# --- Arquivos de Cache Específicos (O que você encontrou) ---
# O "**" significa "em qualquer pasta"
**/CachedManifest.plist
**/Workspace.plist
**/ModuleCache.noindex/

# --- Outros ---
*.ipa
*.dSYM.zip
*.dSYM
